apsw==3.16.2.post1
asn1crypto==0.24.0
beautifulsoup4==4.6.0
chardet==3.0.4
CherryPy==8.9.1
cryptography==3.2
cssselect==1.0.3
cssutils==1.0.2
dnspython==1.15.0
duplicity==0.7.17
enum34==1.1.6
fasteners==0.12.0
feedparser==5.2.1
html5-parser==0.4.4
html5lib==0.999999999
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
lxml==4.2.1
Markdown==2.6.9
mechanize==0.2.5
monotonic==1.0
msgpack==0.5.6
netifaces==0.10.4
numpy==1.16.5
olefile==0.45.1
pandas==0.24.2
Pillow==5.1.0
psutil==5.4.2
pycairo==1.16.2
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyOpenSSL==17.5.0
pyparsing==2.2.0
python-dateutil==2.8.0
pytz==2019.2
pyxdg==0.25
PyYAML==3.12
regex==2017.12.12
repoze.lru==0.7
Routes==2.4.1
scour==0.36
SecretStorage==2.3.1
simplejson==3.13.2
six==1.12.0
uTidylib==0.3
webencodings==0.5
WebOb==1.7.3
